<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Login</title>
</head>
<body>
<h1>Chapring - LOGIN</h1>

<form action="../../login" th:action="@{../../login}" th:object="${loginForm}" method="post">
    <p>ID: <input type="text" th:field="*{id}" />
       <em th:if="${#fields.hasErrors('id')}" th:errors="*{id}">Id Error</em></p>
    <p>PASS: <input type="text" th:field="*{pass}" />
       <em th:if="${#fields.hasErrors('pass')}" th:errors="*{pass}">Pass Error</em></p>
    <p><input type="submit" value="送信" /></p>
</form>
</body>
</html>